<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/cozastore</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">12345678</property>
    <property name="hbm2ddl.auto">update</property>

    <mapping class="com.tranthanh.cozastore.entities.Address"/>
    <mapping class="com.tranthanh.cozastore.entities.Category"/>
    <mapping class="com.tranthanh.cozastore.entities.Order"/>
    <mapping class="com.tranthanh.cozastore.entities.Payer"/>
    <mapping class="com.tranthanh.cozastore.entities.Product"/>
    <mapping class="com.tranthanh.cozastore.entities.Productdetail"/>
    <mapping class="com.tranthanh.cozastore.entities.Productphoto"/>
    <mapping class="com.tranthanh.cozastore.entities.Systemrole"/>
    <mapping class="com.tranthanh.cozastore.entities.Tagcatalog"/>
    <mapping class="com.tranthanh.cozastore.entities.User"/>
  </session-factory>
</hibernate-configuration>