<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">12345678</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/demo_buoi_10</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.default_schema">demo_buoi_10</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <property name="hibernate.enable_lazy_load_no_trans">true</property>
  <property name="hibernate.generate_statistics">false</property>
  <mapping class="com.demo.entities.Category"/>
  <mapping class="com.demo.entities.Product"/>
  <mapping class="com.demo.entities.Invoicedetail"/>
  <mapping class="com.demo.entities.Invoice"/>
  <mapping class="com.demo.entities.Account"/>
 </session-factory>
</hibernate-configuration>
